{{{styles}}}
<div class="container1">
<h1 class="dashmsg">Welcome, {{user}}, to your personalized fitness dashboard.</h1>
</div>

<div class='clearfix'>
 <div class="current-info child">
	<div class="current">current chest (inches): <span class="current-chest">{{chest}}</span>
	</div>
	<div class="current">current bicep (inches): <span class="current-bicep">{{bicep}}</span>
	</div>
	<div class="current">current waist (inches): <span class="current-waist">{{waist}}</span>
	</div>
	<div class="current">current hip (inches): <span class="current-hip">{{hip}}</span>
	</div>
	<div class="current">current thigh (inches): <span class="current-thigh">{{thigh}}</span>
	</div>
</div>

<div class="container2 child">
<span class="chest-line"></span>
<span class="bicep-line"></span>
<span class="waist-line"></span>
<span class="hip-line"></span>
<span class="thigh-line"></span>
<svg class ="dashicon svg-content" preserveAspectRatio="xMinYMin meet" width="292" height="900" xmlns="http://www.w3.org/2000/svg">

 <g label="Layer 1" id="imagebot_2">
  <path transform="translate(4.88281 -97.6563) matrix(1 0 0 1 39.5425 -189.414)" label="Layer 1" stroke="#000000" stroke-width="2.7111" fill="#f0f0f0" d="M 138.2908820501597 356.2963310093659 C 136.6621044919351 356.3489762735894 135.84935190332575 356.34997802287694 135.03205805127965 356.3590004447932 L 135.03205805127965 356.4216698802206 C 134.23039148811887 356.41364920759185 133.4333329716807 356.4106372814007 131.83594355779846 356.3590004447932 C 105.59745838616935 356.59877915425443 105.9220251553264 401.3943092474812 115.35382861377323 415.0174317249192 C 119.54568189905109 423.40073759575995 115.3372663588862 431.79539662519255 114.2884348548509 440.17937032889165 C 103.40543059521417 450.3684962487049 68.19995363454831 446.8108838290001 62.64892691596089 455.90950547441713 C 55.29208014840086 471.02657005597933 45.94308796438916 547.1154389389844 49.8018262199231 559.3768502182512 C 38.61362234402138 578.2611599537536 61.886929624585996 654.496284232737 61.86555897311886 668.6075925296274 C 55.82521111921996 703.7863561759593 71.46832764330274 714.2933705363463 79.85163351414344 714.2933705363463 C 79.80869186135169 707.6725423619713 67.57152291484299 699.1395751475749 71.3601387202504 691.6698646269541 C 74.5468367704289 689.616812853821 73.73468523139206 693.1635395979348 78.97476897113272 696.3074295618933 C 78.7688226742754 693.7892322029211 78.61402569603895 691.0644073575759 78.44207877000012 688.2854212674188 C 77.74065391887736 682.0471945375914 77.09753087628837 675.7461915190794 76.62463842929225 669.4532024948675 C 76.46934057641204 668.5789425000042 76.30924100528031 667.7555045856614 76.12328962420193 666.9777464388294 C 71.93143633892407 660.6900332941984 79.1103056497344 598.5716267582579 74.49391101640482 576.3862192039421 C 81.31315233299483 558.4155048186594 86.0387376386643 497.8290400764831 84.9909078839165 488.39924011661134 C 88.75808625457094 513.8770636625823 86.80894927419688 558.1744171567959 88.12437965528466 575.7918479600124 C 75.54507993544435 599.0851902263275 73.97500488546852 634.1898244253828 76.62429783453449 669.4487280147165 C 77.56754496366501 674.758800638012 78.03295768264763 681.6760798182074 78.44173817524236 688.2809467872678 C 83.78940978846286 735.8419994602275 94.62666749730278 779.9142932811778 93.79588342151804 791.247416887341 C 84.40548560028876 837.0734397943129 96.53686982203516 914.135341151931 97.11735014251113 922.229475395107 C 96.4940083091864 929.720556567195 92.56172829929119 940.6543161240661 95.39394066825864 945.2917474924337 C 91.6053248628512 961.3658165600084 87.04870127034376 964.123966264985 90.19239088444465 973.5557697234319 C 93.33628084840304 982.9875731818787 117.25231047184161 987.7739312776579 121.62127303115335 981.9531000842978 C 122.9808471641779 973.1236818640807 119.53222506695538 948.41787310236 116.38840188628285 944.2258862505105 C 118.05965361429837 940.6360175037474 121.90049394922858 929.8554588045812 118.48780125978516 919.0639476465382 C 124.70539195428961 908.8748217267249 132.38006037913738 821.219755569993 129.39217617088906 812.0570887534604 C 132.26980117422414 807.9292138560123 135.3097763454236 786.9859754182233 132.17984408820467 781.3134031194166 C 132.43420158896365 778.5476401198548 132.95599943617657 699.730941143642 134.247721750793 697.8877224546019 C 136.52950627791014 690.4440574154565 135.7730519992595 690.52753652275 137.19954298469054 697.7859580836467 C 138.6566207150339 700.3415540826866 138.3651784556509 778.7072655296571 138.6195559913956 781.4720935632172 C 135.4896237341767 787.1452001283106 137.85769226659238 807.8641802922664 140.73531726992744 811.9920551897145 C 137.74729949510748 821.1547220062471 145.42223505309858 908.8077846644038 151.63969218103134 918.9989140827922 C 148.22699949158792 929.7904252408352 152.06783982651817 940.5705832402865 153.73909155453367 944.1608526867645 C 150.59520159057527 948.3527059720424 147.14657949335276 973.0579804674765 148.50622040966317 981.888066520552 C 152.87524975226071 987.7082298810536 176.79094545927012 982.9220053518461 179.93510255637185 973.4900683268277 C 183.07892573704444 964.0582648683808 178.52210179467946 961.3001151634041 174.73355277255786 945.2260460958295 C 177.5657651415253 940.5882140277469 173.63349848828727 929.6548551705907 173.01014329830537 922.1637739985027 C 173.59062361878136 914.070307588185 185.72234175695692 837.0084062305671 176.33161001929847 791.1817154907368 C 175.50069237694208 779.8479240517153 186.3377497359245 735.7769658964814 191.68575526557416 688.2152453906635 C 192.09449568819736 681.6103784216033 192.55988169386566 674.692965674836 193.50319560628202 669.3830266181122 C 196.152889255063 634.1214516973453 194.58241350537216 599.0201566625817 182.00311378553184 575.7261465634083 C 183.31854416661963 558.1107192587667 181.36938047293123 513.8120300988364 185.1365855569 488.33353872000714 C 184.08862223558054 497.765342178454 188.81420754125 558.3491355891969 195.63358242441168 576.3205178073379 C 191.01712100779628 598.504589695937 198.1959903186066 660.6210595165884 194.0042038166146 666.9120450422251 C 193.8182591138648 667.689803189057 193.65815286440449 668.5132411034 193.50285501152428 669.3875010982632 C 193.0300093128282 675.6801562060459 192.38683952193912 681.9814931409871 191.68541467081636 688.2197198708144 C 191.51346774477759 690.9983720445425 191.3586707665411 693.7231968898876 191.1527311480124 696.241728165289 C 196.39248097132386 693.0978382013307 195.58032943228702 689.5513785903601 198.76736139889468 691.6041632303499 C 202.5559772043021 699.0745415838289 190.31860790793587 707.6067741820813 190.27586660500165 714.2276691397419 C 198.65917247584235 714.2276691397419 214.30248934978263 703.7199869464966 208.26194114602623 668.5418911330231 C 208.2405704945591 654.4299150032743 231.5145456079821 578.190783727141 220.325673899222 559.3111488216471 C 224.18441215475593 547.0477340438052 214.83555353731592 470.96353999080844 207.47857320318417 455.8438040778128 C 201.92714578488176 446.7452492156816 166.7220695239309 450.30306198524397 155.8390652642942 440.1136689322874 C 154.79023376025887 431.73036306144667 150.58188500337985 423.33570403201406 154.77367150537185 414.95173032831497 C 164.2054749638187 401.32860785087695 164.53004173297575 356.5330510443358 138.29155656134665 356.29329904818894 L 138.2908820501597 356.2963310093659 z" id="imagebot_3"/>
  <title>Layer 1</title>
 </g>
 <metadata>image/svg+xmlOpenclipartMale body silhouette2010-08-29T12:27:40Remix of Male body silhouette, this one is symmetrical.https://openclipart.org/detail/82639/male-body-silhouette-by-mlampretmlampretSilhouette male body shape symmetry</metadata>
</svg>

<div class="infocontainer child">
<div>chest circumference (inches)</div>
<form class="chest-form" action="/dashboard/chest" method="post">
<input class="measure chest" type="number" name="chest"/>
</form>
<div>bicep circumference (inches)</div>
<form class="bicep-form" action="/dashboard/bicep" method="post">
<input class="measure bicep" type="number" name="bicep"/>
</form>
<div>waist circumference (inches)</div>
<form class="waist-form" action="/dashboard/waist" method="post">
<input class="measure waist" type="number" name="waist"/>
</form>
<div>hip circumference (inches)</div>
<form class="hip-form" action="/dashboard/hip" method="post">
<input class="measure hip" type="number" name="hip"/>
</form>
<div>thigh circumference (inches)</div>
<form class="thigh-form" action="/dashboard/thigh" method="post">
<input class="measure thigh" type="number" name="thigh"/>
</form>
</div>
</div>
</div>

<div class="chart-container">
<canvas id="myChart" width="500" height="500"></canvas>
<div class="menu-container">
<div class="chart-menu chest-menu unselectable">Chest</div>
<div class="chart-menu bicep-menu unselectable">Bicep</div>
<div class="chart-menu waist-menu unselectable">Waist</div>
<div class="chart-menu hip-menu unselectable">Hip</div>
<div class="chart-menu thigh-menu unselectable">Thigh</div>
</div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
<script src="/js/dashboard.js"></script>